


.navbar .nav-link {
    color: #333; /* Navbar link color */
  }
  .navbar .nav-link:hover {
    color: #007bff; /* Hover color */
  }
  .search-icon {
    cursor: pointer;
  }
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Hover shadow */
    background-color: #f8f9fa; /* Hover background color */
  }




.buttonAll{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: #f7f4f4;
    padding: 20px;
    border: forestgreen;
}

.buttonHead{
    padding: 50px;
    border-radius: 10px;
}
.buttonbd{
    background-color: #17a2b8;
    color: #fff;
    height: 100px;
    width: 170px;
    box-shadow: 10px;
    border-radius: 10px;
    
}

.buttonbd:hover {
    background-color: #FF0080;
    box-shadow: 0 4px 8px rgba(58, 13, 33, 0);
    /* cursor: help; */
    cursor: wait;
}

.p-all{
    text-align: center;
    justify-items: center;
    padding: 15px;
    background-color: #e8efdf;
    border-radius: 10px;
}

.p-head{
    height: 100px;
     padding: 50px;;
}
.t-title{
    font-size: 21px;
  font-style: italic;
  font-weight: 500;

}
@media (max-width: 767.98px){
    .buttonAll{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        background-color: #202040;
        border-radius: 10px;
        padding: 20px;
        border: forestgreen;
        align-items: center;
        justify-items: center;
        background-color: dark;
    }
}
